$primaryColor: aquamarine;
$secondaryColor: red;

html {
   font-family: generalFont;
}

h1 {
   color: $primaryColor;
}

.container {
   &__subtitle {
      color: $secondaryColor;
      display: flex;
      height: 700px;
      display: flex;
      background-image: url("../images/babel.jpg");
   }
}