.burger {
   height: 100%;
   width: 100%;
   position: relative;


   &__bun-top {
      background-image: url(../images/Type=bun_top.svg);
      
   }

   &__salad {
      background-image: url(../images/Type=salad.svg);
      
   }

   &__mayo {
      background-image: url(../images/Type=mayo.svg);
   }


   &__cucumber {
      background-image: url(../images/Type=cucumber.png);
   }


   &__tomato {
      background-image: url(../images/Type=tomato.png);
   }

   &__cutlet {
      background-image: url(../images/Type=cutlet.svg);
   }

   &__onion {
      background-image: url(../images/Type=onion.png);
   }

   &__cheese {
      background-image: url(../images/Type=cheese.svg);
   }

   &__bun-bot {
      background-image: url(../images/Type=bun_bottom.svg);

   }
}