@import "fonts.scss";
@import "mixins.scss";


*,
*::before,
*::after {
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

.wrapper {
   max-width: 1940px;
   min-width: 280px;
   min-height: 100%;
   margin: 0 auto;
   overflow-x: hidden;
}

.container {
      max-width: 1544px;
      margin: 0 auto;
}


li {
   @include reset-list
 }
 


