@import "fonts.scss";
@import "mixins.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "burger.scss";


*,
*::before,
*::after {
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

.container {
      max-width: 1544px;
      margin: auto;
      padding: 15px;
      height: 100%;
}

.wrapper{
   height: 97vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


 


